<head>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    -->
</head>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Test Id</th>
            <th>Test Name</th>
            <th>Test Price</th>
            <th>Diagnostic Center</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of test">
                <td> {{e.testId}} </td>
                <td> {{e.testName}} </td>
                <td> {{e.testPrice}} </td>
                <td> {{e.diagnosticCentre}}</td>
                
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)="deleteTest(e)">Delete</button>
                </td>
                
                <td>
            </tr>
        </tbody>
    </table>
    

</div>

