<div class="row justify-content-center">
    <div class="col-sm-10 text-left bg-white rounded shadow py-13">
        <div class="p-3 mb-2 bg-success text-white">
            <h1>Welcome, Admin</h1>
        </div>
        <div class="row">
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Add Diagnostic Center</h3>
                        <p class="card-text">Here Admin can add the Diagnostic Center into the Database.</p>
                        <button type="submit" class="btn btn-warning float-right"
         routerLink="/addcenter">Add Center</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Remove Center</h3>
                        <p class="card-text">Here Admin can remove the Diagnostic Center from the Database.</p>
                        <button type="submit" class="btn btn-warning float-right"
                        routerLink="/delete">Remove Center</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Add Test</h3>
                        <p class="card-text">Here Admin Can add the Test into Database.</p>
                        <button type="submit" class="btn btn-warning float-right"
                        routerLink="/addtest">Add Test</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Remove Test</h3>
                        <p class="card-text">Here Admin can remove the Test from the Database.</p>
                        <button type="submit" class="btn btn-warning float-right"
                        routerLink="/deleteTest">Remove Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>